body {
  font: 13px/20px Arial, Tahoma, Verdana, sans-serif;
}
a {
  color: #000;
  outline: none;
  text-decoration: underline;
}
a:hover {
  text-decoration: none;
}
h1{
  font-size: 22px;
  line-height: 30px;
}
h2{
  font-size: 18px;
  line-height: 25px;
  margin: 15px 0 10px;
}
p {
  margin: 0 0 18px;
}
img {
  border: none;
}
input {
  vertical-align: middle;
}
#wrapper {
  width: 960px;
  margin: 0 auto;
  min-height: 100%;
  height: auto !important;
  height: 100%;
	padding: 0 20px;
}


/* Header
-----------------------------------------------------------------------------*/
header {
  height: 100px;
}


/* Middle
-----------------------------------------------------------------------------*/
#content {
  padding: 0 0 100px;
}

  table{
    width: 100%;
    margin-bottom: 35px;
  }
    td{
      padding: 7px 15px;
      border-bottom: 1px solid #eee;
    }

    .col1{
      width: 35%;
    }

    dt{
      font-style: italic;
      margin-bottom: 5px;
    }
    dd{
      margin: 0 0 20px 10px;
    }





/* Footer
-----------------------------------------------------------------------------*/
footer {
  width: 960px;
  margin: -100px auto 0;
  height: 100px;
  position: relative;
	padding: 0 20px;
}