body {
  font: 13px/20px Verdana,Tahoma, Arial,  sans-serif;
}
a {
  color: #555;
  outline: none;
  text-decoration: underline;
}
a:hover {
  text-decoration: none;
}
.block-header{
  font-size: 18px;
  line-height: 25px;
  margin: 15px 0;
  font-weight: bold;
}
p {
  margin: 0 0 18px;
}
img {
  border: none;
}
ul{
  margin: 7px 0 7px 14px;
}
li{
  margin-bottom: 5px;
}
input {
  vertical-align: middle;
}
#wrapper {
  width: 960px;
  margin: 0 auto;
  min-height: 100%;
  height: auto !important;
  height: 100%;
	padding: 20px;
}

/* Middle
-----------------------------------------------------------------------------*/
table{
  width: 100%;
  margin-bottom: 35px;
}
  td{
    padding: 7px 15px;
    border-bottom: 1px solid #eee;
  }
  .col1{
    width: 35%;
  }
  dt{
    cursor: pointer;
    font-style: italic;
    line-height: 17px;
    margin-bottom: 13px;
  }
  dt:before{
    content: '-';
    margin-right: 5px;
  }
  dd{
    margin: 0 0 20px 0px;
    padding: 10px 0 14px 30px;
    border-bottom: 1px solid #eee;
    background-color: #F9F9F9;

    display: none;
  }
  .show-all{
    display: inline-block;
    float: right;
    border-bottom: 1px dashed;
    text-decoration: none;
  }

